<!DOCTYPE html>
<html>
  <head>
    <title>FeedbackLoop</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'index.js' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>

  <body>
    <%= yield %>
    <div class="rails-nav">
    <!-- <div class="flasherror">
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= flash[:ommiauth_spotify_force_approval?] %>
    </div> -->
    <div classname="signinlinks">
    <% if current_user %>
      <b><%= current_user.name %></b> |
      <%= link_to "Sign Out", signout_path %>
    <% else %>
      <%= link_to 'Sign In', '/auth/spotify' %>
    <% end %>
    </div>
  </div>

    <div id='app'/>

  </body>
</html>
