<!DOCTYPE html>
<html>
  <head>
    <title>FeedbackLoop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'index.js' %>

  </head>

  <body>
    <%= yield %>
    <div id='app'/>
  </body>
</html>
